<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tung Dang</title>
    <link href="/css/main-2ad8fabd.css" rel="stylesheet">
    <style type="text/css">

    </style>
</head>

<body>
    {{ template "page_navbar.tmpl.html" . }}

    <div id="content" style="clear:both; ">
        <div class="mainpage-wrap">
            <div class="headline">
                Hello. I'm <a href="/static/about.html">Tung Dang</a>. I am a developer (currently at otto)
            </div>
            <div class="headline underline">
                I blog about thing I find interesting and some random stuffs.
            </div>
        </div>

        <div class="articles-list-wrap">
            <div class="headline" style="float: right; font-size:80%">
                <a href="/atom.xml">RSS/Atom feed</a>
            </div>
            <div>
                {{range .Articles}}
                <div>
                    <a href="/{{.Permalink}}">{{.Title}}</a>
                    <span style="font-size:80%">
                    {{if .TagsDisplay}}
                        <span class="taglink">in:</span> {{.TagsDisplay}}</span>
                    {{end}}
                </div>
                {{end}}

                <p>
                    Subscribe to <a href="/atom.xml">RSS/Atom feed</a>.
                </p>

            </div>
        </div>
    </div>

    <hr> {{ template "analytics.tmpl.html" . }}

</body>

</html>
